

body{
    height: 100vh;
   
    justify-content: center;
    align-items: center;
    background-color: #34495e;
    font-family: "montserrat",sans-serif;
}

.img-wrap{
   
    width: 100%;
    max-width: 600px;
    margin: 20px 0;
}

.col-sm-7 h2{
    margin-top: 10px;
    margin-bottom: 25px;
    color: white;
    font-size: 40px;
    
}

.img-wrap img{
    width: 100%;
    padding: 10px;
    border-radius: 50%;
    max-width:100%;
    height:auto;
    box-shadow: 0 0 10px #999999;
}

p{
    text-indent: 25px;
    color: white;
    
}
.row{
    margin-top: 40px;
}

.arr{
      
      font-size:  300%;
      text-shadow: 0 0 3px #FF0000;
        text-align: center;
    text-decoration: none;
    color:burlywood;
}


@media only screen and (min-width: 768px) and (max-width: 991px){
    
}


@media screen and (max-width:800px) {
  .img-wrap img {
    width:80%;/* The width is 100%, when the viewport is 800px or smalpaaler */
    margin: 0 40px;
      box-shadow: 0 0 10px #999999;
      
      .arr{
      
      font-size:  250%;
      text-shadow: 0 0 3px #FF0000;
        text-align: center;
    text-decoration: none;
    color:burlywood;
}
      
    
  }
}

