body{
    margin :0;
    padding: 0;
    background-color: #34495e;
    
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

h2{
    text-align: center;
    margin-top: 5%;
    text-transform: uppercase;
    color :#ccc;
    font-weight: bold;
    letter-spacing: 1px;
    text-shadow: 0 8px 12px black;
    font-size: 50px;
}

.sm{
    margin-left: 21%;
    padding: 0 10%;
    margin-top: 10%;
    margin-bottom: 5%;
}

.sm a{
    margin-right: 3%;

    text-align: center;
    width: 80px;
    height: 80px;
    background-color: #ccc;
    display: inline-block;
    border-radius: 24px;
    box-shadow: 6px 6px 12px rgba(0,0,0,.15),
                -6px -6px 12px rgba(255,255,255,.1);
    overflow: hidden;
    font-size: 28px;
    transition: -3s linear;
    position: relative;
}

.sm a:hover{
    transition: scale(1.3);
    border-radius: 50%;
}

.sm a i::before{
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    background-size: 200% 200%;
    background-position: 75% 75%;
    top: 0;
    left: 0;
    line-height: 80px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    transition: background .5% linear;
}

.sm a:hover i::before{
    background-position: 0% 0%;
}



.arr a{
      
      font-size:  300%;
      text-shadow: 0 0 3px #FF0000;
        text-align: center;
    text-decoration: none;
    color:burlywood;
    margin-left: 48%;
    margin-right: 48%;

}

p{
    filter :brightness(0%);
    text-align: center;
    color:lightslategray
    
}

.fa-facebook-f::before{
     background-image:linear-gradient(135deg,#0b5c96 30%,#0a3d62 50%);
}

.fa-instagram::before{
     background-image:linear-gradient(135deg,#c32aa3 30%,#0a3d62 50%);
}

.fa-twitter::before{
     background-image:linear-gradient(135deg,#1da1f2 30%,#0a3d62 50%);
}
.fa-envelope::before{
     background-image:linear-gradient(135deg,#8a1121 30%,#0a3d62 50%);
}
.fa-linkedin-in::before{
     background-image:linear-gradient(135deg,#007bb5 30%,#0a3d62 50%);
}
.fa-youtube::before{
     background-image:linear-gradient(135deg,#d71e18 30%,#0a3d62 50%);
}

@media screen and (max-width:800px) {
 
    
    body{
        margin-bottom: 10%;
    }
    
    h2{
        text-align: center;
        margin-bottom: 2%;
        margin-top: 10%;
        text-transform: uppercase;
        font-weight: bold;
        letter-spacing: 1px;
        text-shadow: 0 6px 10px #d8cbcb;
        font-size: 30px;
    }
    
 .sm a{
    margin-bottom: 5%;
    width: 65px;
    height: 65px;
    background-color: #ccc;
    display: block;
    border-radius: 20px;
    box-shadow: 6px 6px 12px rgba(0,0,0,.15),
                -6px -6px 12px rgba(255,255,255,.1);
    overflow: hidden;
    font-size: 20px;
    transition: -3s linear;
    position: relative;
}
.sm{
    margin-left: 30%;
    margin-right: 30%;
    padding: 0 10%;
    margin-top: 10%;
    margin-bottom: 5%;
}

.arr a{
      
      font-size:  250%;
      text-shadow: 0 0 3px #FF0000;
        text-align: center;
    text-decoration: none;
    color:burlywood;
    margin-left: 44%;
    margin-right: 44%;
    
   
        
}

}